.card {
    background: #000;
    color: #fff;
    border-radius: 18px;
    aspect-ratio: 5/9;
}

.card-img-top {
    border-radius: 18px;
}

.card-body {
    font-size: 18px;
}

@media only screen and (max-width:600px) {
    .card {
        margin: 0px 25px;
    }
}