<div class="offer mt-5 mb-5">
    <div class="container">
        <div class="heading text-center">
            Check out the <span class="text-red"> Special offer</span> 👇🏻
        </div>

        <div class="row text-center">
            <div class="col-md-6 col-sm-12">
                <div class="card bg-light-green mt-5">
                    <div class="card-body">
                        <div class="heading card-title">The PYQ Mains Pack </div>
                        <div class="title fw-bold">
                            4 Books only
                        </div>
                        <div class="card-img">
                            <img src="../../assets/images/offer1.png" width="100%">
                        </div>
                        <div class="price fw-bold">
                            Rs 1,596/-
                            <br>
                            <s>Rs 2000/-</s>
                        </div>
                        <div class="mt-2">
                            <strong>ONE TIME PURCHASE - Life long Writing Skills</strong>
                        </div>
                        <button class="btn btn-red mt-5">Order 4 PYQ Books</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card bg-light-yellow mt-5">
                    <div class="card-body">
                        <div class="heading card-title">The Premium GS Mains PYQ Pack</div>
                        <div class="title fw-bold">4 BOOKS + PYQ Classes</div>
                        <div class="card-img">
                            <img src="../../assets/images/offer2.png" width="100%">
                        </div>
                        <div class="price fw-bold">
                            Rs 8,000/- only
                            <br>
                            <s>Rs 1000/-</s>
                        </div>
                        <div class="mt-2">
                            <strong> ONE TIME PURCHASE - Life long Skill + Guidance + Mentorship calls</strong>
                        </div>
                        <button class="btn btn-green mt-5">Order Premium PYQ Pack</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>