<div class="container pt-5">
    <div class="text-center fw-bold">
        <div class="text-red title">
            Best IAS Toppers Answers compilation
        </div>
        <div class="heading">
            Everything that you need for IAS Mains
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="list-left">
                <div class="list-left-1 d-flex ">
                    <div class="star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    </div>
                    <div class="">
                        <div class="title fw-bold">
                            High-Quality Content
                        </div>
                        <div class="des">
                            Go beyond Standard books & NCERTs
                        </div>
                    </div>
                </div>
                <div class="list-left-2 d-flex ">
                    <div class="star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    </div>
                    <div class="">
                        <div class="title fw-bold">
                            Includes Keywords
                        </div>
                        <div class="des">
                            The Lifeline for IAS Mains Answers
                        </div>
                    </div>
                </div>
                <div class="list-left-3 d-flex">
                    <div class="star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    </div>
                    <div class="">
                        <div class="title fw-bold">
                            Contains Case studies
                        </div>
                        <div class="des">
                            Proof of concept from local to International level
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <img src="../../assets/images/books.png" width="90%">
        </div>
        <div class="col-md-3 ">
            <div class="list-right">
                <div class="list-right-1">
                    <div class="star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    </div>
                    <div class="">
                        <div class="title fw-bold">
                            Answer Structure
                        </div>
                        <div class="des">
                            End-to-End Structuring strategy of toppers
                        </div>
                    </div>
                </div>
                <div class="list-right-2">
                    <div class="star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    </div>
                    <div class="">
                        <div class="title fw-bold">
                            Readymade guide for 200+ Topics
                        </div>
                        <div class="des">
                            These books can be a ready reckoner for multiple Inter-disciplinary topics like Society,
                            Governance etc
                        </div>
                    </div>
                </div>
                <div class="list-right-3">
                    <div class="star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    </div>
                    <div class="">
                        <div class="title fw-bold">
                            Ethics case study solutions
                        </div>
                        <div class="des">
                            The only book in India that has all the PYQ Case studies of GS 4 - handwritten
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>