.star {
    color: #fff;
    background: #aa131d;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 9999px;
    padding: 2px 6px;
    text-align: center;
}

.title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text-red {
    color: #aa131d
}


.list-left-1,
.list-right-1 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.list-left-2,
.list-right-2 {
    margin-bottom: 100px;
}

.list-right-1,
.list-right-2,
.list-right-3 {
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
}

@media only screen and (max-width: 600px) {

    .list-right-1,
    .list-right-2,
    .list-right-3 {
        display: flex;
        flex-direction: row;
        text-align: start;
    }

    .list-left-1,
    .list-right-1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .list-left-2,
    .list-right-2 {
        margin-bottom: 30px;
    }

    .title {
        font-size: 1.2em;
    }
}